<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="java" arguments="-Dserver.port=%HTTP_PLATFORM_PORT% -jar app.jar">
      <environmentVariables>
        <environmentVariable name="CATALINA_OPTS" value="" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
